{
  "presets": [
    "@babel/typescript",
    "@vue/babel-preset-jsx"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
